# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1O9aE_Hen5smf_a6TsbVF6DM0ms4Ykj6s?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [49]:
#send_keys() = escrever texto
#click() = clicar 
#get_attribute() = pegar uma informação do site

In [1]:
# importar a base de dados
import pandas as pd
tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [4]:
#abrir o navegador e pegar o preço atual do produto
from selenium import webdriver
#import unicodedata 
#link = unicodedata.normalize('NFKD', link).encode('ascii', 'ignore')
navegador = webdriver.Chrome()
for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto'].replace('ç', 'c').replace('ú', 'u').replace('é', 'e').replace('á', 'a').replace('ã', 'a').replace('ó', 'o')
    navegador.get(f"https://www.melhorcambio.com/{produto}-hoje")
    cotacao = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    cotacao = float(f'{cotacao:,.2f}').replace('.', '').replace(',', '.')
    print(cotacao)
    #atualizando a base de dados
    tabela.loc[linha , 'Preço Atual'] = cotacao

ModuleNotFoundError: No module named 'selenium'

In [67]:
#Condição de comprar ou não
tabela['Comprar'] = tabela['Preço Atual'] < tabela['Preço Ideal']  
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        55.83     True
1      Soja       163.59       132.79     True
2       Boi       282.20       263.55     True
3  Petróleo       424.37       382.78     True
4   Algodão       497.76       408.43     True
5    Açúcar       136.23       151.58    False
6      Café      1092.87      1040.61     True
7      Ouro       321.77       316.08     True
8   Tilápia         9.05         9.45    False

In [69]:
#Exportar a base de dados atualizada
navegador.quit()
tabela.to_excel('Commodites_atualizado.xlsx')

In [54]:
!pip install unicodedata

ERROR: Could not find a version that satisfies the requirement unicodedata (from versions: none)
ERROR: No matching distribution found for unicodedata